:root{--textcolor:#1b232e;--color1:#ca9f16;--main-font:'Open Sans', sans-serif;}
body{font-family:var(--main-font);color:var(--textcolor)}
img{max-width:100%}
.video iframe {
    width: 100%;
    height: 490px;
    border: 0;
}
.number {
    font-size: 88px;
    color: var(--color1);
    font-weight: bold;
}
.numbers label {
    font-size: 31px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: -23px;
}

.numbers {
    margin-top: -57px;
    float: left;
    width: 100%;
    margin-left: 10%;
}

header.header {
    padding-top: 18px;
    padding-left: 55px;
    padding-right: 55px;
}

header .header-btns {
    float: right;
}

header .logo {
    float: left;
    width: 111px;
}

header {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.header-btns .login a {
    color: var(--color1);
}

.header-btns>div {
    float: left;
    margin-left: 20px;
    padding: 12px;
    font-size: 14px;
    text-transform: uppercase;
}

.header-btns .sign-up {
    background: #3a4b63;
    padding: 12px 33px;
    border-radius: 11px;
}

.header-btns .sign-up a {
    color: #fff;
}
.container-fluid {
    padding: 0!important;
}

.advImg {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.double-sec {
    height: 447px;
}

.double-sec h2.sec-title {
    font-size: 39px;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    font-weight: normal;
    float: left;
    margin-right: 21px;
}

.double-sec label {
    font-size: 25px;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    width: 100%;
    margin: 0;
}

.plus-icon {
    font-size: 24px;
    color: #ca9f18;
    border: 3px solid #ca9f18;
    width: 35px;
    height: 35px;
    line-height: 24px;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
}

.double-sec .plus-icon {
    float: left;
}

.adv-content {
    opacity: 0;
}
.video {
    margin-top: 13px;
    float: left;
    width: 100%;
}

div#mainSec {
    padding-bottom: 115px;
}
.double-sec .container .labels {
    padding-top: 296px;
    padding-left: 54px;
    float: left;
}
.advImg img {
    height: 100%;
}
.data-show {
    opacity: 1;
}
.adv-content {
    padding-top: 80px;
    font-size: 14px;
}

.adv-content a {
    color: #ca9f19;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 1px solid;
}

.sec.data-visible {
    background: rgba(32, 40, 50,.8);
}